.content{

	section.content-header{

		margin-bottom: 33px;

		article{
			position: absolite;
			height: 250px;
			overflow: hidden;

			.thumb__content-header img{
				width: 100%;
			}
		}

		article:first-child{
			height: 500px;

			.thumb__content-header img{
				width: auto;
			}

			.infos__content-header{

				height: 180px;

				.h2__content-header{
					font-size: 40px;
					font-weight: 700;
					line-height: 45px;
				}

			}
		}

		.infos__content-header{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			//padding:10px 50px;

			height: 120px;

			background-color: rgba(0,0,0,0.4);
			color:#fff;

			&:hover{
				background-color: rgba(0,0,0,1);
			}

			.h2__content-header{
				font-size: 25px;
				font-weight: 700;

				padding: 10px 45px;

				a,a:hover{
					text-decoration: none;
					color: #ffffff;
				}
			}

			.cat__content-header{
				position: absolute;
				transform: translateY(-100%);
				padding: 5px 8px;
				background-color: #fff;
				color: #000;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
			}

			.date__content-header{
				font-size: 15px;
				font-weight: 500;
				margin-left: 20px;
				margin-top: 5px;
			}

		}


	}

	section.content-body{
		padding-bottom: 100px;
		article{
			position: relative;
		}

		.thumb__content-body img {
			width: 100%;
		}

		.infos__content-body{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 8px;
			margin: 0 15px;
			height: 120px;

			background-color: rgba(0,0,0,0.4);
			color:#fff;

			&:hover{
				background-color: rgba(0,0,0,1);
			}

			.h2__content-body{
				font-size: 15px;
				font-weight: 700;
				line-height: 30px;

				padding: 10px 45px;

				a,a:hover{
					text-decoration: none;
					color: #ffffff;
				}
			}

			.cat__content-body{
				position: absolute;
				transform: translateY(-100%);
				padding: 5px 8px;
				background-color: #fff;
				color: #000;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
			}

			.date__content-body{
				font-size: 15px;
				font-weight: 500;
				margin-left: 20px;
				margin-top: 5px;
			}

		}

		.load__content-body{
			display: inline-block;
			width: 100%;
			font-size: 15px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: #000000;
			border: solid 2px #000;
			margin-top: 33px;
			padding: 12px 0;

			&:hover{
				background-color: #000000;
				color: #fff;
			}
		}

	}

}
