.about{
	position: relative;
	overflow: hidden;
	
	.about-cover{
		position: absolute;
		top: 0;
		left: 0;
		
		img{
			width: 100vw;
		}
	}
	
	.about-content{
		
		margin-top: 300px;
		margin-bottom: 60px;
		
		.about-title{
			background-color: rgba(0, 0, 0, 0.3);
			padding: 40px 45px;

		}
		
		.about-body{
			background-color: #fff;
			padding: 75px 100px;
			
			p{
				margin-bottom: 40px;
			}
			
		}
		
	}
	
}