.contact{
	
	.contact-content{
		background-color: #fff;
		padding: 37px 100px;
		margin-bottom: 80px;
		
		h2{
			color: #000;
			margin-bottom: 40px;
		}
		
		p{
			margin-bottom: 40px;
		}
		
		form{
			input,textarea{
				width: 100%;
				border: none;
				border-bottom: 1px solid #000;
				outline: none;
				margin-bottom: 25px;
			}
			
			textarea{
				height: 34px;
				resize: none;
				overflow: auto;
			}
			
			input[type="submit"]{
				background-color: #fff;
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				border: 2px solid #000;
				
				&:hover{
					background-color: #000;
					color: #fff;
				}
			}
		}
		
	}
	
}