header{
	
	padding: 33px 0;
	
	.logo{
		font-size: 50px;
		font-weight: 700;
		color: #000000;
		text-decoration: none;
	}
	
	.menu{
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		
		li{
			display: inline-block;
			margin: 0 20px;
			
			a{
				text-decoration: none;
				color: #000000;
				
				&:hover{
					opacity: 0.5;
				}
			}
		}
		
		li:last-child{
			margin-right: 0;
			
			a{
				padding: 8px 16px;
				border: solid 2px #000;
				
				&:hover{
					color: #fff;
					background-color: #000000;
					opacity: 1;
				}
			}
		}
		
	}
	
}